#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

input, button {
  background-color: white;
  color: black;
}

.page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px; /* nüüd see kindlasti töötab */
  text-align: left;
}